@import "~antd/dist/reset.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

/* Global settings */
body, html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #F1F1F1;
}

/* Responsive padding and text-sizing */
body {
  padding: 1rem;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}

/* Flex container for better layout management */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will push the button to the bottom */
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: white;
  margin-bottom: 20px; /* Add space between cards */
  width:242px;
  height:303px;
  overflow: hidden;
}

.card-img-top {
  max-height:120px;
  width: 100%;
  object-fit: contain;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  flex:1;
  padding:0px 10px;
}

.card-info {
  /* Additional styling if necessary */
}

.card-actions {
  display:auto;
  justify-content: center;
  margin-top: auto;
  width:100%;
}

.button-base, .add-button, .edit-button {
  width: 100%; 
  margin-top: 0px; 
}

.info-container, .button-list, .detail-btn-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.button-base {
  padding: 8px 12px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0px;
}

.add-button {
  background-color: #5048E5;
  color: white;
}

.edit-button, .out-of-stock-btn {
  border: 1px solid #CCCCCC;
}

.ant-pagination-item,
.ant-pagination-item-link {
  color: #5048E5 !important;
  border-radius: 0%;
}

.ant-pagination-item:hover,
.ant-pagination-item-link:hover {
  background-color: #5048E5 !important;
  color: white !important;
  border-radius: 0%;
}

.ant-pagination-item-active {
  border: none !important;
  border-radius: 0 !important;
}
.products-container {
  position: relative;
  max-width: 1323px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.products-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.products-actions {
  display: flex;
  align-items: center;
}

.ant-select {
  width: 179px;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .product-list {
    grid-template-columns: repeat(4, minmax(240px, 1fr));
  }
  .card {
    margin-bottom: 10px; /* Less space between cards on smaller screens */
  }

  /* Product actions stacking */
  .products-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .ant-select {
    width: 100%; 
    margin-bottom: 10px; 
  }
}

@media (max-width: 1000px) {
  .product-list {
    grid-template-columns: repeat(3, minmax(240px, 1fr));
  }
  .card {
    margin-bottom: 10px; /* Less space between cards on smaller screens */
  }

  /* Product actions stacking */
  .products-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .ant-select {
    width: 100%; 
    margin-bottom: 10px; 
  }
}

@media (max-width: 800px) {
  .product-list {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
  }
  .card {
    margin-bottom: 10px; /* Less space between cards on smaller screens */
  }

  /* Product actions stacking */
  .products-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .ant-select {
    width: 100%; 
    margin-bottom: 10px; 
  }
}

@media (max-width: 576px) {
  .product-list {
    grid-template-columns: repeat(1, minmax(240px, 1fr));
  }

  .products-container {
    padding: 0 10px; 
  }
  .card {
    margin-bottom: 10px; /* Less space between cards on smaller screens */
  }

  body, .products-header h4, .products-container {
    font-size: 14px;
  }

  .pagination-container {
    align-self: center;
    padding: 20px;
  }
}
