@import "~antd/dist/reset.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

/* index.css */
.product-list {
  width:1323px;
  height: 682px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  background-color: white;
  padding: 20px;
}

.card {
  width: 242px;
  height: 303px;
  /* top: 222px; */
  padding: 10px;
  border-radius: 0%;
}

.info-container {
  width: 191px;
  height: 45px;
  gap: 0%;
}

.card-img-top {
  width: 218px;
  height: 198px;
  object-fit: cover;
}

.button-list {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: space-between;
}

.button-base {
  width: 110px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.add-button {
  background-color: #5048E5;
  color: white;
}

.edit-button {
  border: 1px #CCCCCC solid;
}

.ant-pagination-item,
.ant-pagination-item-link {
  color: #5048E5 !important;
  border-radius: 0%;
}

.ant-pagination-item:hover,
.ant-pagination-item-link:hover {
  background-color: #5048E5 !important;
  color: white !important;
  border-radius: 0%;
}

.ant-pagination-item-active {
  border: none !important;
  border-radius: 0 !important;
}

@media (max-width: 768px) {
  .product-list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .product-detail-container {
    grid-template-columns: 1fr; /* Change to single column for smaller screens */
    grid-template-areas:
      "h2"
      "detail-img"
      "detail-info";
  }
  .detail-img {
    width: 308px;
    height: 276px;
  }
}

.h2 {
  grid-area: h2;
}

.image-container {
  padding: 10px;
  border-radius: 0%;
}

.product-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* First column auto-sized, second column takes the remaining space */
  grid-template-areas:
    "detail-img detail-info"; 
  padding:20px;
  width: 1323px;
  position: relative;
}

.detail-button-base {
  width: 133px;
  height: 40px;
}

.detail-img {
  grid-area: detail-img; 
  width: 662px;
  height: 597px;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: contain;
}
.detail-info {
  grid-area: detail-info;
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: 20px;
}
.detail-btn-list {
  display: flex;
  gap:10px
}

.out-of-stock-btn {
  width: 76px;
  height: 30px;
  border-radius: 4px;
  background-color: rgba(234, 61, 47, 0.13);
  color: #EA3D2F;
  font-size: 12px; /* Adjust font size as needed */
  white-space: nowrap; /* Prevent text from wrapping */
  border: none;
}
